<div class='ajaxReplace'>
    <div class='questions'>Question [questionId]. [questionContent] </div>
    <ul class='answerList'>
        <li>
            <label>
                <input type='radio'
                       name='answerGroup'
                       class='pointer-on-hover'
                       value='1'>
                <strong>A. </strong>[firstChoice]
            </label>
        </li>
        <li>
            <label>
                <input type='radio'
                       name='answerGroup'
                       class='pointer-on-hover'
                       value='2'>
                <strong>B. </strong>[secondChoice]
            </label>
        </li>
        <li>
            <label>
                <input type='radio'
                       name='answerGroup'
                       class='pointer-on-hover'
                       value='3'>
                <strong>C. </strong>[thirdChoice]
            </label>
        </li>
        <li>
            <label>
                <input type='radio'
                       name='answerGroup'
                       class='pointer-on-hover'
                       value='4'>
                <strong>D. </strong>[fourthChoice]
            </label>
        </li>
    </ul>
</div>