body {
    height: 100%;
    margin: 0;
}

.header {
    height: 100px;
}

.header-title {
    line-height: 100px;
}

.menu {
    margin-top: 0.5em;
}

.search-btn {
    cursor: pointer;
}

.menu-edit {
    background-color: #E6E6FA;
    border-radius: 5px;
}

.login-section {
    margin-top: 2em;
    height: 75vh;
}

.div-center {
    margin: 0 auto;
}

.login-heading {
    margin-bottom: 1.5em;
}

.btn-login {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.footer {
    background-color: #DCDCDC;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

.footer-heading {
    margin-bottom: 0 !important;
}

.home {
    padding: 1.5em;
}

.logout-popup {
    max-width: 400px;
    margin: 1em 0;
}

.confirm-section {
    float: left;
}

.btn-action {
    width: 80px;
}

.btn-yes {
    margin-right: 0.5em;
}

.pointer-on-hover {
    cursor: pointer;
}

.reset-pd-left {
    padding-left: 0 !important;
}

.user-field {
    max-width: 300px;
}

.warning-icon {
    font-size: 22px !important;
    color: #ff6c60;
    margin-left: 0.5em;
}

.on-same-line {
    display: inline-block;
}

.got-errors {
    border: 1px solid #ff6c60;
}

.got-errors:focus {
    border: 1px solid #ff6c60;
    -webkit-box-shadow: 0 0 10px #ff6c60;
    box-shadow: 0 0 10px #ff6c60;
}

.nxt-to-btn {
    margin-left: 0.7em;
    margin-right: 0.8em;
    margin-top: 0.3em;
}

.warning-box {
    margin-top: 1em;
    margin-bottom: 0.8em;
}

.loading-change-password {
    top: 15em !important;
}

.login-form {
    margin-top: 8em;
}

/**
Quiz CSS
 */

.preview {
    margin-bottom: 20px;
}

.questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px rgba(255, 255, 255, 1);
    border-radius: 3px;
    margin: 0 10px;
}

.questions {
    background: #007fbe;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}

.questions:after {
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}

.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}

.questions:before, .questions:after {
    background: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}

.answerList {
    margin-bottom: 15px;
}

ol, ul {
    list-style: none;
}

.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 3px 0;
}

.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}

.button, .greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
}

.questionsRow span {
    float: right;
    display: inline-block;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    background: #FFF;
    color: #007fbe;
}

.quiz-heading {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.question-loading {
    top: 8.5em !important;
}

.timing-section {
    margin: 1em;
}

.timing-content {
    margin:0 auto;
}

.highlight {
    color:#721c24;
    font-weight: bold;
}

#quiz-result {
    margin-top:1.5em;
}


